.carousel {
  height: $carousel-height;

  display: flex;
  justify-content: center;
  button {
    width: 30%;
    background: none;
    opacity: 0%;
    border: none;
    position: absolute;
    height: inherit;
    transition: opacity 2s ease;

    &.prev {
      top: $navbar-heigth;
      left: 0px;

      &:hover {
        opacity: 100%;
        background: linear-gradient(
          to left,
          rgba(253, 253, 253, 0) 50%,
          rgb(136, 136, 136) 100%
        );
      }
    }

    &.next {
      top: $navbar-heigth;
      right: 0px;

      &:hover {
        opacity: 100%;
        background: linear-gradient(to right, #ffffff00 0%, #0000007a 100%);
      }
    }
  }

  #main-img-carousel {
    display: block;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    max-height: 100%;
  }
}
