.pictures {
  margin: 40px;
  ul {
    list-style: none;
    li {
      margin-top: 3px;
      a:hover {
        color: rgb(148, 222, 224);
      }
    }
  }
  button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: $pictures-del-button-color;
    margin-left: 10px;
    padding: 3px;
    &:hover {
      transform: scale(1.05);
      color: $color-font-app;
    }
  }
}
