$background-color-app: rgb(43, 43, 43);
$color-font-app: white;

$navbar-background-color: rgb(230, 227, 201);
$navbar-font-color: rgb(78, 78, 85);
$navbar-heigth: 30px;

$carousel-height: 800px;
$margin-top-carousel: 20px;
$height-dot-carousel: 30px;

$pictures-del-button-color: rgb(78, 78, 85);
